@{
    ViewData["Title"] = "How To Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


                                       

<div class="row">
    <div class="col-4"></div>
    <div class="col-8">
        <h1> How To Play</h1>
    </div>
</div>


<p class="text-primary font-weight-bold">1. ???</p>
<p class="text-muted"><span class="p-2 bg"></span>Choose a number with three digits</p>
<p class="text-warnings"><span class="p-2 bg"></span>You cannot use same digits  </p>
<p class="text-primary font-weight-bold">2. Guess opponents number</p>
<p class="text-muted"><span class="p-2 bg"></span>Before he/she guess yours</p>
<p class="text-primary font-weight-bold">3. Use The Hints</p>
<p class="text-muted"><span class="p-2 bg"></span>If opponents number is <span class="text-danger">734</span> </p>
<p class="text-muted"><span class="p-3 bg"></span>351 => <span class="text-danger font-weight-bold">Miss, </span>  none of your digit in your guess true</p>
<p class="text-muted"><span class="p-3 bg"></span>864 => <span class="text-success font-weight-bold">+1, </span>  you find a digit in true position</p>
<p class="text-muted"><span class="p-3 bg"></span>270 => <span class="text-warning font-weight-bold">-1, </span>  you find a digit in wrong position</p>



