@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @await Html.PartialAsync("_LoginPartial")
    <br /><br />
    <h1 class="display-4">Are you ready for a brain battle with tough opponents all over the world?</h1>
   
</div>
